img {
  max-width: 100%;
}

a {
  text-decoration: none;
}


.all {
  position: relative;
  min-width: 320px;
  font-family: $treb;
  background: url(../img/pattern.png) repeat, linear-gradient(-180deg, #000000 0%, rgba(0,0,0,0.00) 50%, #000000 100%);
  margin: 0 auto;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  align-items: center;
}
.inner {
  margin: 0 auto;
  max-width: 1160px;
  position: relative;
  padding: 0 20px;
  overflow: hidden;
  width: 100%;
}

.container {
  padding: 17px 0 50px; 
}

.title {
  font-size: 36px;
  line-height: 44px;
  font-weight: 250;
  font-family: $exo;
  color: #FFFFFF;
  text-align: center;
  margin: 20px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media(max-width:768px) {
  .inner {
    padding: 0 15px;
  }
}

