doctype html
html
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge', minimal-ui)
    title Cats

    meta(name='viewport', content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='./css/main.css?v=1')
    script(src='./libs/jquery-3.2.1.min.js')

  body
    //- img(src="main.png" style="position:absolute;opacity:0.5;top:0;margin-left:50%;left:-640px;z-index:900;width:1280px;")
    .all
      .inner
        .container
          h1.title Ты сегодня покормил кота?
          section.products
            article.product
              input(type="checkbox" id="foiegras" name="cat_food" value="foiegras").visually-hidden.product__input
              .product__wrapper
                label(for="foiegras").product__card
                  .product__inner
                    p.product__desc Сказочное заморское яство
                    h2.product__name Нямушка
                    p.product__about с фуа-гра
                    p.product__spec
                      b 10
                      |  порций
                      br
                      | мышь в подарок
                    figure.product__image
                      img(src="img/cat.png" alt="Кот-британец" width="315px" height="272px")
                    span.product__label
                      span.product__amount 0,5
                      span.product__unit кг
                span.product__caption.product__caption--default Чего сидишь? Порадуй котэ,
                  label(for="foiegras").product__action купи.
                span.product__caption.product__caption--selected Печень утки разварная с артишоками.
                span.product__caption.product__caption--disabled Печалька, с фуа-гра закончился.
            article.product
              input(type="checkbox" id="fish" name="cat_food" value="fish" checked).visually-hidden.product__input
              .product__wrapper
                label(for="fish").product__card
                  .product__inner
                    p.product__desc Сказочное заморское яство
                    h2.product__name Нямушка
                    p.product__about с рыбой
                    p.product__spec
                      b 40
                      |  порций
                      br
                      b 2
                      |  мыши в подарок
                    figure.product__image
                      img(src="img/cat.png" alt="Кот-британец" width="315px" height="272px")
                    span.product__label
                      span.product__amount 2
                      span.product__unit кг
                span.product__caption.product__caption--default Чего сидишь? Порадуй котэ,
                  label(for="fish").product__action купи.
                span.product__caption.product__caption--selected Головы щучьи с чесноком да свежайшая сёмгушка.
                span.product__caption.product__caption--disabled Печалька, с рыбой закончился.
            article.product
              input(type="checkbox" id="chicken" name="cat_food" value="chicken" disabled).visually-hidden.product__input
              .product__wrapper
                label(for="chicken").product__card
                  .product__inner
                    p.product__desc Сказочное заморское яство
                    h2.product__name Нямушка
                    p.product__about с курой
                    p.product__spec
                      b 100
                      |  порций
                      br
                      b 5
                      |  мышей в подарок
                      br
                      | заказчик доволен
                    figure.product__image
                      img(src="img/cat.png" alt="Кот-британец" width="315px" height="272px")
                    span.product__label
                      span.product__amount 5
                      span.product__unit кг
                span.product__caption.product__caption--default Чего сидишь? Порадуй котэ,
                  label(for="fish").product__action купи.
                span.product__caption.product__caption--selected Филе из цыплят с трюфелями в бульоне.
                span.product__caption.product__caption--disabled Печалька, с курой закончился.


  script(src='./js/main.js?v1')
