.products {
  padding: 3px 0;
  display: flex;
  justify-content: space-between;
  align-content: stretch;
}
.product {
  color: $primary_text;
  width: 28.5%;
  margin-bottom: 20px;
  overflow: hidden;
  position: relative;
  height: 100%;
  min-height: 100%;
  &__input {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  &__card {
    display: block;
    margin-top: 40px;
    border-color: $primary;
    cursor: pointer;
    height: 100%;
    &:after {
      display: block;
      width: calc(100% - 35px);
      height: 41px;
      background-color: $primary_bg;
      border-radius: 0 12px 0 0;
      border-top: 4px solid;
      border-right: 4px solid;
      border-color: inherit;
      content: "";
      position: absolute;
      top: 0px;
      right: 0px;
    }
    &:before {
      display: block;
      width: 40px;
      height: 41px;
      background-color: $primary_bg;
      border-left: 4px solid ;
      border-color: inherit;
      content: "";
      position: absolute;
      top: 0px;
      left: 17px;
      transform: skewX(-41deg);
    }
  }
  &__inner {
    width: 100%;
    height: 100%;
    padding: 17px 13.5% 265px;
    min-height: 440px;
    position: relative;
    z-index: 100;
    border: 4px solid;
    border-color: inherit;
    border-top: 0;
    border-radius: 0 0 12px 12px;
    background-color: $primary_bg;
  }
  &__image {
    position: absolute;
    left: 0px;
    bottom: 0px;
    margin: 0;
    width: 312px;
    height: 272px;
    overflow: hidden;
    border-radius: 0 0 0 8px;
    img {
      position: absolute;
      left: -4px;
      bottom: -8px;
    }
  }
  &__desc {
    font-size: 16px;
    line-height: 19px;
    color: $primary_text_caption;
    padding-left: 2px;
    margin-top: -36px;
  }
  &__name {
    font-size: 48px;
    line-height: 53px;
    font-weight: 700;
    padding: 7px 0 0;
  }
  &__about {
    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    padding-left: 2px;
  }
  &__spec {
    font-size: 14px;
    line-height: 16px;
    color: $primary_text_caption;
    padding: 15px 2px;
  }
  &__label {
    border-radius: 50%;
    background-color: $primary;
    color: $primary_text_contrast;
    height: 80px;
    width: 80px;
    display: block;
    position: absolute;
    right: 11px;
    bottom: 12px;
    text-align: center;
  }
  &__amount {
    font-size: 42px;
    line-height: 42px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding-top: 10px;
  }
  &__unit {
    font-size: 21px;
    line-height: 18px;
    display: inline-block;
    vertical-align: top;
    width: 100%;
  }
  &__caption {
    font-size: 13px;
    line-height: 15px;
    color: $primary_text_contrast;
    text-align: center;
    display: block;
    width: 100%;
    padding: 14px 0;
    &--selected, 
    &--disabled {
      display: none;
    }
    &--disabled {
      color: $disabled_contrast;
    }
  }
  &__action {
    color: $primary;
    cursor: pointer;
    font-weight: 700;
    border-bottom: 1px dashed $primary;
  }

  &:hover {
    .product {
      &__card {
        border-color: $primary_hover;
      }
      &__action {
        color: $primary_hover;
        border-color: $primary_hover;
      }
      &__label {
        background-color: $primary_hover;
      }
    }
  }
  &__input:checked ~  .product__wrapper {
    .product {
      &__card {
        border-color: $accent;
      }
      &__label {
        background-color: $accent;
      }
      &__caption {
        &--default {
          display: none;
        }
        &--selected {
          display: block;
        }
      }
      &__action {
        color: $accent;
        border-color: $accent;
      }
    }
    &:hover {
      .product {
        &__card {
          border-color: $accent_hover;
        }
        &__label {
          background-color: $accent_hover;
        }
        &__action {
          color: $accent_hover;
          border-color: $accent_hover;
        }
      }
    }
  }
  &__input:disabled ~ .product__wrapper {
    .product {
      &__card {
        cursor: not-allowed;
        border-color: $disabled;
        color: $disabled;
        &:before,
        &:after {
          background-color: $disabled_bg;
        }
      }
      &__about, 
      &__name, 
      &__desc, 
      &__spec {
        color: $disabled;
        opacity: 0.5;
      }
      &__inner {
        background-color: $disabled_bg;
      } 
      &__label {
        background-color: $disabled;
      }
      &__image {
        opacity: 0.5;
      }
      &__caption {
        &--default {
          display: none;
        }
        &--disabled {
          display: block;
        }
      }
    }
  }
}