$primary: #1698D9;
$primary_hover: #2EA8E6;
$primary_bg:white;
$primary_text: black;
$primary_text_caption: #666666;
$primary_text_contrast: white;
$accent: #D91667;
$accent_hover:#E52E7A;
$disabled: #B3B3B3;
$disabled_bg: #F2F2F2;
$disabled_contrast: #FFFF66;
